@model Bondane_Carmen_Proiect.Models.ResidencyHospital

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ResidencyHospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResidencyHospitalID" />
            <div class="form-group">
                <label asp-for="HospitalName" class="control-label"></label>
                <input asp-for="HospitalName" class="form-control" />
                <span asp-validation-for="HospitalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                List<Bondane_Carmen_Proiect.Models.HospitalViewModels.TrainedDoctorData> doctors =
                                ViewBag.Doctors;
                                foreach (var doctor in doctors)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selecteddoctors"
                                               value="@doctor.DoctorID"
                                               @(Html.Raw(doctor.IsTrained ? "checked=\"checked\"" : "")) />
                                        @doctor.DoctorID @: @doctor.DoctorName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

